<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <title>האתר של דניאל</title>
    <meta name="description" content="daniels website" />
    <meta name="keywords" content="" />
    <meta name="author" content="daniel oren" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    
    <!-- CSS -->
   <link href="styles/reset.css" rel="stylesheet" />
    <link href="styles/myStyle.css" rel="stylesheet" />


    <!-- Scripts -->
    <script src="jScripts/jquery-1.12.0.min.js"></script>
    
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li> <a href="index.html"> דף הבית </a> </li>
                    <li> <a href="‏‏index_avoda.html"> תעסוקה</a></li>
                    <li><a href="‏‏‏‏index_askala.html"> השכלה</a></li>
                    <li><a href="‏‏index _tahbiv.html">תחביבים</a></li>
                </ul>
            </nav>
            <h1>דניאל אורן</h1>
        </header>
       
        <div id="img"> </div>
        <section>
            <div id="contact">
                <h2> צור קשר</h2>
                <div id="contactMe">
                    <a href="https://www.facebook.com/daniel.oren.98" target="_blank" id="facebook"></a>
                    <a href="mailto:oredaniel7@gmail.com" target="_blank" id="gmail"></a>
                </div>
            </div>
        </section>
        
    </div>
 
</body>
</html>
