<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <title>דניאל-תעסוקה</title>
    <meta name="description" content="daniels website" />
    <meta name="keywords" content="עבודה, עובדת, רשות, שדות, התעופה, חונכת" />
    <meta name="author" content="daniel oren" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    
    <!-- CSS -->
   <link href="styles/reset.css" rel="stylesheet" />
    <link href="styles/myStyle.css" rel="stylesheet" />


    <!-- Scripts -->
    <script src="jScripts/jquery-1.12.0.min.js"></script>
    
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li> <a href="index.html"> דף הבית </a> </li>
                    <li> <a href="‏‏index_avoda.html"> תעסוקה</a></li>
                    <li><a href="‏‏‏‏index_askala.html"> השכלה</a></li>
                    <li><a href="‏‏index _tahbiv.html">תחביבים</a></li>
                </ul>
            </nav>
            <h1>תעסוקה</h1>
        </header>
        <div id="avoda">
            <section>
                <h2>איפה אני עובדת? </h2>
                <p>
                    בודקת ביטחונית ברשות שדות התעופה<br /> <br /> אני חונכת עובדים חדשים <br /> <br /> משלב הקורס ועד לשלב העבודה בפועל
                </p>
            </section>
        </div>

    </div>
 
</body>
</html>
